nav {
    background-color: greenyellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h2 {
    color: #003366;
}

/* Section layout */
.section {
    margin: 20px 0;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.main-title {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.main-title img{
    width: 250px;
    height: 250px;
}

/* Title with image and text */
.section-title {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.section-title img {
    width: 40px;
    height: 40px;
}

.section-title h3 {
    margin: 0;
    color: #003366;
}

/* Input + Button */
input[type="number"] {
    padding: 8px;
    margin: 5px 10px 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 150px;
}

button {
    background: #0077cc;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 12px;
}
button:hover {
    background: #005fa3;
}

/* History box */
textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    resize: none;
    font-family: monospace;
}